.small-dropdown {
  width: 50px;
  font-size: 0.8rem;
  padding: 0.25rem;
  margin: 1rem;
}

.larger-text {
  font-size: 1.1rem;
}

.larger-text-bold {
  font-size: 1.2rem;
  font-weight: bold;
}

.price-calculate-heading {
  display: flex;
  justify-content: center;
}